* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.forgot-page {
    min-height: 100vh;
    display: flex;
}

/* LEFT */

.forgot-left {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(135deg,
            #4f46e5,
            #7c3aed,
            #9333ea);

    color: white;
}

.left-content {
    max-width: 450px;
    text-align: center;
    padding: 40px;
}

.reset-icon {
    font-size: 100px !important;
    margin-bottom: 20px;
}

.left-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.left-content p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* RIGHT */

.forgot-right {
    flex: 1;

    background: #f8fafc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-card {
    width: 450px;

    background: white;

    padding: 45px;

    border-radius: 25px;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, .08);

    transition: .4s;
}

.forgot-card:hover {
    transform: translateY(-8px);
}

.forgot-card h2 {
    text-align: center;
    font-size: 2rem;
}

.subtitle {
    text-align: center;
    margin: 10px 0 30px;
    color: #64748b;
}

/* INPUT */

.input-box {
    display: flex;
    align-items: center;
    gap: 10px;

    border: 2px solid #e2e8f0;

    padding: 14px;

    border-radius: 14px;

    margin-bottom: 25px;

    transition: .3s;
}

.input-box svg {
    color: #6366f1;
}

.input-box:hover {
    border-color: #6366f1;
}

.input-box:focus-within {
    border-color: #6366f1;

    box-shadow:
        0 0 0 5px rgba(99, 102, 241, .15);
}

.input-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* BUTTON */

.reset-btn {
    width: 100%;

    border: none;

    padding: 16px;

    border-radius: 14px;

    color: white;

    font-size: 1rem;

    font-weight: 600;

    cursor: pointer;

    background:
        linear-gradient(135deg,
            #7c3aed,
            #4f46e5);

    transition: .35s;
}

.reset-btn:hover {
    transform: translateY(-5px);

    box-shadow:
        0 20px 35px rgba(79, 70, 229, .35);
}

.reset-btn:active {
    transform: scale(.97);
}

/* LOGIN LINK */

.back-login {
    text-align: center;
    margin-top: 25px;
    color: #64748b;
}

.back-login a {
    cursor: pointer;
    color: #6366f1;
    text-decoration: none;
    font-weight: 600;
}

.back-login a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */

@media(max-width:900px) {

    .forgot-page {
        flex-direction: column;
    }

    .forgot-left {
        min-height: 300px;
    }

    .left-content h1 {
        font-size: 2.8rem;
    }

    .forgot-card {
        width: 90%;
        margin: 40px 0;
    }
}